.App {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.response-images {
  height: 70vh;
  &__elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .response-images {
    &__elements {
      display: none;
    }
  }
}
