.App {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
}

.elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

@media screen and (max-width: 1200px) {
  .elements {
    display: none;
  }
}
