.carousel {
  height: 150px;
  width: 970px;
  display: none;
  align-items: center;
  justify-content: space-between;

  &__button {
    width: 30px;
    height: 30px;
    background-color: transparent;
  }

  &__items {
    display: flex;
    height: 150px;
    transition: 1s;
    gap: 15px;
  }

  &__content {
    height: 150px;
    width: 860px;
    overflow: hidden;
  }
}

@media screen and (max-width: 1200px) {
  .carousel {
    display: flex;
  }
}

@media screen and (max-width: 1000px) {
  .carousel {
    width: 100%;
    &__button {
      visibility: hidden;
    }

    &__content {
      overflow-x: scroll;
    }

    &__items {
      transform: none !important;
    }
  }
}
